

.logos{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
    margin: auto;
    gap: 5px;
    padding: 10px;

    border-radius: 4px;
}

.logos div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logos div img{
    margin-right: 5px;
}

.sub-banner{
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

.sub-banner:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,.12);
}

.pre-and-refub{
    margin-top: 50px;
    text-align: center;
}

.pre-and-refub a{
    border: 1px solid rgba(18, 18, 18, 1);
    border-radius: 6px;
    padding:15px 50px ;
    margin-right: 2px;
}

.pre-and-refub a:hover{
    background-color: rgba(178, 218, 243, 0.3);
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px 15px;

    width: 90vw;
    margin: auto;
    margin-top: 50px;
}

.see-more{
    padding:10px 40px ;
    border: 1px solid;
    border-radius: 5px;

    display: block;
    margin: auto;
    margin-top: 30px;
}

.see-more:hover{
    background-color: rgba(178, 218, 243, 0.3);
}

.adds{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90vw;
    margin: auto;
    margin-top: 50px;
}

.adds img{
    width: 100%;
}

.adds img:hover{
    box-shadow: 0 12px 12px -6px rgba(0,0,0, .5);
}



@media screen and (max-width:550px) {
    .logos{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 90vw;
    }

    .pre-and-refub a{
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }

    .products{
        grid-template-columns: 1fr;
    }

    .adds{
        grid-template-columns: 1fr 1fr;
    }
}
