header{
    background: #E5E4E2;
}

.headerDiv{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 90vw;
  margin: auto;
  max-width: 1440px;

}

.headerDiv div{
    display: flex;
    align-items: center;
}

.gtlogo img{
    width: 150px;
    margin-right: 25px;
}

.product-search{
    position: relative;
}


.product-search button{
    position: absolute;
    top: 13px;
    right: 15px;
}

.product-search svg{
    color: red;
}

.product-search input {
    background: white;
    width: 350px;
    padding: 9px;
    font-size: 17px;
    border-radius: 4px;
    padding-left: 5px;
}

.mobile-product-search{
    display: none;
}

.headerDiv a:not(.gtlogo){
    border: 1px solid #3E3E3B;
    border-radius: 4px;
    padding: 9px 15px;
    margin-right: 16px;
    font-weight: bold;
    font-size: 17px;
    color: #249EF6;
    display: inline-block;
}

.headerDiv a:not(.gtlogo):hover{
    box-shadow: 0 4px 4px 0 #00000038;
}

.headerDiv a:last-child{
    margin-right: 0;
}

#mobile-nav{
    display: none;
}

#navBtn{
    display: none;
}

nav{
    background: rgba(0, 132, 214, 0.2);
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a{
    margin:0 20px;
    font-weight: 500;
}

nav a:hover{
    color :rgba(242, 110, 33, 1) ;
}

nav a:last-child{
    color: rgba(242, 110, 33, 1);
}

@media screen and (max-width:550px) {
    header{
        position: sticky;
        top: 0;
        z-index: 3;
    }
    .headerDiv{
        width: 100vw;
    }
    .gtlogo{
        width: 80px;
    }

    .headerDiv a:not(.gtlogo){
        font-size: 10px;
    }

    .product-search{
        display: none;
    }

    #mobile-nav{
        display: block;
        padding: 7px;
        border: 1px solid;
        border-radius: 4px;
    }


    .mobile-product-search{
        position: relative;
        display: block;
        width: 80vw;
        padding: 2px 0 5px 0;
        margin: auto;

    }
    .mobile-product-search input{
        width: 100%;
        height: 2rem;
        padding: 5px;
        border-radius: 5px;
    }
    .mobile-product-search button{
        position: absolute;
        top: calc(2px + .5rem);
        right: 20px;
    }

    nav{
        position: fixed;
        top: 48px;
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 99vw;
        height: 110vh;
        z-index: 5;
        background-color: rgb(210 210 210);

        transition: all .3s;
    }

    nav.visible{
        left: 0;
    }

    nav a{
        margin: 2px;
        display: block;
        border: 1px solid black;
        border-left: none;
        border-right: none;
        width: 100%;
        padding: 15px 5px 15px 0;

        display: flex;
        justify-content: space-between;
    }

    nav a::after{
        content: ">";
    }
}