.headerDiv{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  background: #E5E4E2;
}

.headerDiv div{
    display: flex;
}

.headerDiv img{
    width: 200px;
    height: 51px;
    margin-right: 25px;
}

.headerDiv input {
    background: white;
    width: 30vw;
    border-radius: 4px;
    padding-left: 5px;
}

.headerDiv a{
    border: 1px solid #3E3E3B;
    border-radius: 4px;
    padding: 9px 15px;
    margin-right: 16px;
    font-weight: bold;
    font-size: 17px;
    color: #249EF6;
    display: inline-block;
    box-shadow: 0 4px 4px 0 #00000038;
}

.headerDiv a:last-child{
    margin-right: 0;
}

#navBtn{
    display: none;
}

nav{
    background: rgba(0, 132, 214, 0.2);
    padding: 15px;
    display: flex;
    justify-content: center;
}

nav a{
    margin:0 20px;
}

nav a:last-child{
    color: rgba(242, 110, 33, 1);
}

@media screen and (max-width:550px) {
    header{
        margin-bottom: 20px;
    }
    
    .headerDiv{
        flex-direction: column;
        padding:20px 5px;
    }

    .headerDiv >div:first-child {
        margin-bottom: 10px;
        flex-direction: column;
    }

    .headerDiv >div:first-child img {
       transform: scale(.5);
    }

    .headerDiv > div:first-child input{
        width: 100%;
    }
    .headerDiv > div:last-child{
        justify-content: space-between;
    }

    nav{
        flex-direction: column;
        align-items: center;
        width: 100vw;
        
        display: none; 
    }

    #navBtn{
        display: block;
        background-color: red;
        width: 100%;
        padding: 10px;
        
        display: flex;
        justify-content: center;
        background-color: rgba(0, 132, 214, 0.2);
    }


}